<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ModMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <clear />
    <add key="portableMode" value="false" />
  </appSettings>
  <userSettings>
    <ModMonitor.Properties.Settings>
      <setting name="ShowPower" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPowerSetpoint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowTemperature" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTemperatureSetpoint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowVoltage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCurrent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLiveResistance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowColdResistance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBatteryVoltage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBoardTemperature" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowRoomTemperature" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColorPower" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="ColorPowerSetpoint" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="ColorTemperature" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColorTemperatureSetpoint" serializeAs="String">
        <value>DarkRed</value>
      </setting>
      <setting name="ColorVoltage" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="ColorCurrent" serializeAs="String">
        <value>Goldenrod</value>
      </setting>
      <setting name="ColorLiveResistance" serializeAs="String">
        <value>MediumPurple</value>
      </setting>
      <setting name="ColorColdResistance" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="ColorBatteryVoltage" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColorBoardTemperature" serializeAs="String">
        <value>DarkSalmon</value>
      </setting>
      <setting name="ColorRoomTemperature" serializeAs="String">
        <value>BurlyWood</value>
      </setting>
      <setting name="TemperatureUnitForce" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SampleThrottle" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ExpandGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoDownloadStats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FireDuration" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="GraphColorTemperature" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="GraphColorPower" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="GraphColorVoltage" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="GraphColorCurrent" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="GraphColorPercentage" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="GraphShowGridLines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColorBatteryLevel" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="ShowBatteryLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GraphColorResistance" serializeAs="String">
        <value>Purple</value>
      </setting>
    </ModMonitor.Properties.Settings>
  </userSettings>
</configuration>